<%= form_tag url: qset_results_create_path() do |f|%>
	<% @question_list = @question_list.shuffle %>
	<% @question_list.each do |question| %>
	<div class="row">
		<%= question.question_text %>
	</div>
	<% possibleResponses = [question.answer, question.dist1, question.dist2, question.dist3] %>
	<% possibleResponses = possibleResponses.shuffle %>
	<div class = "row">
		<div class="col-xs-offset-1">
			<%= radio_button_tag "question_data[#{question.id}]['user_answer']", possibleResponses[0] %>
			<%= label_tag "question_data[#{question.id}]['user_answer']_" + possibleResponses[0], possibleResponses[0] %>
		</div>
	</div>
	<div class = "row">
		<div class="col-xs-offset-1">
			<%= radio_button_tag "question_data[#{question.id}]['user_answer']", possibleResponses[1] %>
			<%= label_tag "question_data[#{question.id}]['user_answer']_" + possibleResponses[1], possibleResponses[1] %>
		</div>
	</div>
	<div class = "row">
		<div class="col-xs-offset-1">
			<%= radio_button_tag "question_data[#{question.id}]['user_answer']", possibleResponses[2] %>
			<%= label_tag "question_data[#{question.id}]['user_answer']_" + possibleResponses[2], possibleResponses[2] %>
		</div>
	</div>
	<div class = "row">
		<div class="col-xs-offset-1">
			<%= radio_button_tag "question_data[#{question.id}]['user_answer']", possibleResponses[3] %>
			<%= label_tag "question_data[#{question.id}]['user_answer']_" + possibleResponses[3], possibleResponses[3] %>	
		</div>
	</div>
	<% end %>

<%= submit_tag "Submit",  class: "btn btn-default" %>
<% end %>

