<% @question.errors.each do |attr, msg| %>
	<div class="row">
		<%= "#{attr} #{msg}" if @question.errors[attr].first == msg %> 
	</div>
	<% end %>

<%= form_for(@question, html: { class:  "form"}) do |f| %>
	<div class="containter">
		<div class="row">
					<%= f.label :question_text, class: 'col-sm-1 control-label form-new' %>
					<div class = "col-sm-5" id="form-new">
						<%= f.text_field :question_text, class: 'form-control form-new' %>
					</div>
		</div>
		<div class="row">
			<%= f.label :answer, class: 'col-sm-1 control-label form-new' %>
			<div class="col-sm-5">
					<%= f.text_field :answer, class: 'form-control form-new' %>
			</div>
			
		</div>
		<hr class="form-breakpoint">

		<div class="row">
			<div class="col-xs-2 form-radio-wrapper">
				<b>Distractor Format</b>
			</div>
			<div class="col-xs-4 form-radio-wrapper">
				<%= f.radio_button :distractors, "explicit", class: 'form-new form-radio form-radio-explicit form-radio-yes', onClick: "$('.form-distractor-wrapper').slideDown('medium')"%>
				<%=f.label :distractors_explicit,"Explicit", class: 'form-control form-new form-radio' %>
			</div>
			<div class="col-xs-4 form-radio-wrapper">
				<%= f.radio_button :distractors, "implicit", class: 'form-new form-radio form-radio-implicit form-radio-no', onClick: "$('.form-distractor-wrapper').slideUp('medium');"%>
				<%=f.label :distractors_implicit, "Implicit", class: 'form-control form-new form-radio' %>
			</div>
		</div>
		<hr class="form-breakpoint">
			
			
		</div>
		<div class="row">
				<div class="field form-group">
					
					<div class="col-sm-6 form-distractor-wrapper">
						<%= f.label :dist1, "Distractor 1", class: 'control-label form-new' %>
						<%= f.text_field :dist1, class: 'form-control form-new' %>
					</div>
					
					<div class="col-sm-6 form-distractor-wrapper">
						<%= f.label :dist2, "Distractor 2", class: 'control-label form-new' %>
						<%= f.text_field :dist2, class: 'form-control form-new' %>
					</div>
					
					<div class="col-sm-6 form-distractor-wrapper">
						<%= f.label :dist3, "Distractor 3", class: 'control-label form-new' %>
						<%= f.text_field :dist3, class: 'form-control form-new' %>
					</div>
					
					<div class="col-sm-6">
						<%= f.label :tag, class: 'control-label form-new' %>
						<%= f.text_field :tag, class: 'form-control form-new' %>
					</div>
				</div>
				
		</div>
		<hr class="form-breakpoint">
		<div class="row">
			<div class="col-lg-2 wrapper-form-btn-submit">
				<%= f.submit "Create Question", class: "btn btn-default btn-form-submit"%>
			</div>
			<div class="col-lg-2 wrapper-form-btn-submit">
				<%= link_to "Back", question_index_path, class: "btn btn-default btn-form-back " %>
			</div> 
		</div>
	</div>
<% end %>