<div class="container">
	<div class="row">
		<div class=" qset-header inline-header">
			<h2><%=@qset.name %></h2>
			<%= link_to "Edit set", request.original_url << '/edit' %>
		</div>
	</div>
	<hr class="form-breakpoint">
	<div class="row">
		<div class="col-sm-2 qset-header qset-subheader">
			<h2><small>Question List</small></h2>
		</div>
	</div>
	<div class="row">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Question</th>
						<th>Answer</th>
						<th>Distractor Style</th>
						<th>Distractor 1</th>
						<th>Distractor 2</th>
						<th>Distractor 3</th>
					</tr>
				</thead>
				<tbody>
					<% @questions.each do |q| %>
						<tr>
							<td><%= q.id %></td>
							<td><%= q.question_text %></td>
							<td><%= q.answer %></td>
							<td><%= q.distractors %></td>
							<td><%= q.dist1 %></td>
							<td><%= q.dist2 %></td>
							<td><%= q.dist3 %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<hr class="form-breakpoint">
	<div class="row">
		<div>
			<h2><small>Recent Results</small></h2>
		</div>
	</div>
	<div class="row">
		<div class="graph-container lines"></div>
	<script type="text/javascript">
			var graphData = [{
				data: gon.dataToGraph,
				color: "green"
			}]
			$.plot($(".graph-container.lines"), graphData, {
				series:{
					points:{
						show: true
					},
					lines:{
						show: true
					}
				},
				grid:{
					hoverable: true
				},
				xaxis: {
					mode: "time",
					timeformat: "%m-%d-%Y"
				},
				yaxis: {
					max: 100,
					min: 0
				}
			});
			$("<div id='tooltip'></div>").css({
				position: "absolute",
				display: "none",
				border: "3px solid green",
				padding: "2px",
				"background-color": "#A1D8A1"
			}).appendTo("body");
			$(".graph-container").bind("plothover", function (event, pos, item){
				if (item){
					var x = item.datapoint[0],
					y = item.datapoint[1];
					var date = new Date(x);
					$("#tooltip").html("Average score of: " + y + "% on " + date.toLocaleDateString()).css({top: item.pageY-10, left: item.pageX+20}).fadeIn();
				}
				else
				{
					$("#tooltip").hide();
				}

			})
	</script>
	<hr class="form-breakpoint">
	<div class="row">
		<h2><small>Detailed Results</small></h2>
	</div>
	<div class= "row">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Number of questions</th>
						<th>Questions Correct</th>
						<th>Score</th>
						<th>User</th>
					</tr>
				</thead>
				<tbody>
					<% current_user.set_results.each do |result| %>
						<% if result.qset_id == params[:id].to_i%>
						<tr>
							<td><%= result.created_at.strftime("%m-%d-%y") %></td>
							<td><%= result.number_of_questions %></td>
							<td><%= result.questions_correct %></td>
							<td><%= (result.score * 100).to_i.to_s + "%" %></td>
							<td><%= User.find(result.user_id).first_name %></td>
						</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<hr class="form-breakpoint">
	<div class="row">
		<h2><small>Score Spread</small></h2>
	</div>
	<div class="row">
		<div class="col-xs-offset-1">
			<h4><small>(scores rounded to nearest 10%)</small></h4>
		</div>
	</div>
	<div class="row">
		<div class="graph-container bar"></div>
		<script type="text/javascript">
		var spreadData = [{
			data: gon.spreadData,
			color: "green"
		}];
		$.plot($(".graph-container.bar"), spreadData, {
			series: {
				bars: {
					show: true,
					barWidth: 5,
					align: 'center'
				}
			},
			grid: {
				hoverable: true
			},
			xaxis: {
				max: 100,
				min: 0
			},
			yaxis: {
				tickSize: 1
			}
		});
		$(".graph-container.bar").bind("plothover", function (event, pos, item){
			if (item){
				var x = item.datapoint[0],
				y = item.datapoint[1];
				var date = new Date(x);
				var plural = (y != 1) ? "results" : "result";
				$("#tooltip").html(y + " " + plural + " scored " + x + "% within the last month").css({top: item.pageY-10, left: item.pageX+20}).fadeIn();
			}
			else
			{
				$("#tooltip").hide();
			}
		})
		</script>
	</div>
	<hr class="form-breakpoint">
	<div class="row">
		<h2><small>Average score by tag</small></h2>
	</div>
	<div class="row">
		<div class="graph-container tag"></div>
		<script type="text/javascript">
		var tagData = [{
			data: gon.tagData,
			color: "green"
		}]
		$.plot(".graph-container.tag", tagData, {
			series: {
				bars:{
					show: true,
					barWidth: 1,
					align: "center"
				}
			},
			grid: {
				hoverable: true
			},
			xaxis:{
				ticks: gon.tickData
			},
			yaxis:{
				min: 0,
				max: 100
			}
		})
		$(".graph-container.tag").bind("plothover", function (event, pos, item){
			if (item){
				var x = gon.tickData[item.datapoint[0]][1],
				y = item.datapoint[1];
				var date = new Date(x);
				$("#tooltip").html("Questions tagged " + x + " have scored an average of " + y + "% in the past month").css({top: item.pageY-10, left: item.pageX+20}).fadeIn();
			}
			else
			{
				$("#tooltip").hide();
			}
		})

		</script>
	</div>
	<div class="row">
		<%= link_to "Back", qset_index_path, class: "btn btn-default" %>
	</div>
	<div class="row">
		<div class="col-sm-10">
			Created: <%= @qset.created_at.to_date %>
		</div>
		<div class="col-sm-10">
			Updated: <%= @qset.updated_at.to_date %>
		</div>
	</div>
</div>